$sansSerifFont: -apple-system,BlinkMacSystemFont,"Source Sans Pro",Segoe UI,"Roboto", "Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans",Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$investigatingColor: #d13943;
$identifiedColor: #d13980;
$monitoringColor: #399dd1;
$resolvedColor: #6CBE07;
